.footer-container {
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#footer-mid {
  width: 70vw;
  /* border: 2px solid white; */
  margin-top: 10vh;
  padding: 5vh 5vw;
}

#footer-mid-1 {
  font-size: 4rem;
  /* width: fit-content; */
}

#footer-mid-2 {
  font-size: 4rem;
}
#footer-mid-3{
  display: flex;
  justify-content: end;
  margin-right: 5vw;
  align-items: center;
}
#footer-mid-3::before{
  content: "";
  height: 0;
  width: 1000vw;
  /* z-index: 1000000000000; */
  border: 1px solid white;
}
#footer-mid-4{
  display: flex;
  gap: 1vw;
  
}