#home{
    top:0;
    height: 100vh;
    /* background :url("../../assets/images/bg.jpg"); */
  }
  
  #home::before{
    content: "";
    position: absolute;
    background :url("../../assets/images/bg.jpg");
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .About-section{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 0px;
    flex-direction: column;
  }
  .content-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    gap:2em;
    padding: 8px 0px;
  }
  .About-content{
    margin:10px;
  }
  #about-c-1{
    width:70%;
    font-size:1.75em;
    color: rgb(27, 25, 25);
  }
  #about-c-2{
    width:30%;
    font-size:1em;
    color: rgb(20, 18, 18);
  }
  /* @media (max-width: 768px) {
    .content-container{
      flex-direction: column;
      gap:0em;
    }
    #about-c-1{
    width:100%;
     font-size:1.33em;
  }
    #about-c-2{
    width:60%;
     font-size:0.9em;
  }  
  }
  @media (max-width: 768px) {
  .cards {
    display: flex;
    height: 35vh;
    perspective: 1000px;
    cursor: grab;
    overflow: hidden;
    animation: scroll 10s linear infinite;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-35%);
    }
  }
  } */