.navbar{
  display: flex;
  align-items: center;
  padding: 2vh 2vw;
  }
  .nav_left{
  font-size: 2em;
  flex-basis: 30%;
  font-weight: bold;
  }
  .nav_right{
  display: flex;
  flex-basis: 70%;
  justify-content: right;
  padding: 2vh 1vw;
  
  }
  .nav_right ul{
  display: flex;
  gap: 2.5vw;
  }
  .nav_right ul li{
  font-size: 1.2rem;
  /* border-bottom: 1px solid #fff;
  border-radius: 1px;
  color: #8edafa;
  padding-bottom: 13px; */
  }
  .name-wrapper{
  font-size: 100px;
  }
  
  
  