.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .rectangle-wrapper {
  border: 0px none;
  background-color: transparent;
  height: max-content;
  width: 843px;
  padding-bottom: 10px;
}

.box .rectangle {
  -webkit-backdrop-filter: blur(42px) brightness(100%);
  height: max-content;
  width: 55vw;
  padding: 10px;
  border-radius: 18px;
  background: linear-gradient(
      0deg,
      rgba(40, 169, 226, 0.2) 0%,
      rgba(40, 169, 226, 0.2) 100%
    ),
    radial-gradient(
      231% 135.8% at 0.9% 2.98%,
      rgba(29, 75, 96, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(21px);
  padding-bottom: 100px;
}
.box .timeline {
  -webkit-backdrop-filter: blur(42px) brightness(100%);
  backdrop-filter: blur(42px) brightness(100%);
  background-color: #28a9e280;
  border-radius: 18px;
  box-shadow: 0px -4px 24px #00000040;
  height: 32px;
  width: 140px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

@media (max-width: 768px) {
  .box .rectangle{
    margin-left: 30px;
    width:65vw ;
    padding-left: 20px;
  }
}
