 #home {
   top: 0;
   height: 87vh;
 }

 #home::before {
   content: "";
   position: absolute;
   background: url("../../assets/images/bg.jpg");
   height: 100vh;
   width: 99.5vw;
   top: 0;
   z-index: -1;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .about-section {
   background-color: aliceblue;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20vh 11vw;
   flex-direction: column;
 }

 .about-container {
   display: flex;
   justify-content: space-between;
   align-items: start;
 }

 .About-content {
   margin: 10px;
 }

 #about-c-1 {
   width: 55%;
   font-size: 2vw;
   color: rgb(27, 25, 25);
 }

 #about-c-2 {
   width: 30%;
   font-size: 1.22vw;
   color: rgb(20, 18, 18);
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .bottomrightcontainer {
   font-size: 1.5vw;
 }

 .hero-mid {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   position: relative;
   top: 30vh;
 }

 #left-mid {
   display: flex;
   font-size: larger;
 }

 #left-mid h1 {
   padding-left: 2vw;
   display: inline-flex;
   align-items: center;
   font-size: 2rem;
 }

 #right-mid {
   font-size: 2rem;
   padding-left: 2vw;
   padding-right: 2vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 #marquee-fsize {
   font-size: 20rem;
   color: white;
   position: relative;
   top: 27vh;
   opacity: 50%;
   letter-spacing: 10px;
 }

 .section-carousel {
   height: 120vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 @media only screen and (max-width : 821px) {
   #home {
     display: flex;
     flex-direction: column-reverse;
   }

   #marquee-fsize {
     font-size: 5rem;
     top: -42vh;
     letter-spacing: 15px;
   }

   .hero-mid {
     display: flex;
     font-size: 1rem;
     top: -32vh;
   }

   .container {
     flex-direction: column;
     height: 50vh;
     gap: 6vh;
   }

   .about-container {
     text-align: justify;
     flex-direction: column;
   }

   #about-c-1 {
     width: 100%;
     padding: 11vw 0px;
     font-size: 4vw;
   }

   #about-c-2 {
     width: 100%;
     font-size: 0.9em;
   }

   .bottomrightcontainer {
     font-size: 4vw;
   }

   .btn-container {
     padding: 11vw 0px;
   }
   
 }
 @media only screen and (max-width : 720px)
 {
    #home{
      height: 100vh;
    }
 }