#gridd {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3rem;
  position: relative;
  /* height:70vh; */
}

#gridd1 {
  width: 50%; /* Set width to 50% */
  z-index: 3; /* Bring grid1 to the front */
  right: 0;
  position: absolute;
}

#gridd2,
#gridd3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%; /* Adjust the width and margin values as needed */
  height: 42vh;
}

#gridd2 {
  z-index: 2;
  border-radius: 18px;
  background: linear-gradient(
      0deg,
      rgba(40, 169, 226, 0.2) 0%,
      rgba(40, 169, 226, 0.2) 100%
    ),
    radial-gradient(
      231% 135.8% at 0.9% 2.98%,
      rgba(29, 75, 96, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(21px);
}

#gridd3 {
  z-index: 1;
  margin-left: 3rem;
  border-radius: 18px;
  background: linear-gradient(
      0deg,
      rgba(40, 169, 226, 0.2) 0%,
      rgba(40, 169, 226, 0.2) 100%
    ),
    radial-gradient(
      231% 135.8% at 0.9% 2.98%,
      rgba(29, 75, 96, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(21px);
}
@media (max-width: 768px) {
  #gridd {
    grid-template-columns: 1fr;
    background-color: #161616; /* Change to a single column layout */
  }

  #gridd1 {
    grid-column: 1 / -1;
    width: 100%;
    position: relative;
    margin-bottom: 6rem;
  }
  #gridd2 {
    z-index: 2;
    top: 98%;
    margin-left: 1rem;
    width: 80%;
    margin-top: 4rem;
  }
  #gridd3 {
    z-index: 1;
    top: 90%;
    margin-left: 3rem;
    width: 80%;
    margin-top: 4rem;
  }
}

#grid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  position: relative;
  margin-bottom: 100px;
}

#grid1 {
  grid-column: 1 / 2;
  width: 50%; /* Set width to 50% */
  z-index: 3; /* Bring grid1 to the front */
}
#grid2,
#grid3 {
  position: absolute;
  top: 0;
  left: 55%;
  /* right: 0; */
  width: 35vw; /* Adjust the width and margin values as needed */
}
#grid2 {
  z-index: 2;
  left: 60%;
  /* font-family: "Inconsolata", monospace; */
  border-radius: 18px;
  background: linear-gradient(
      0deg,
      rgba(40, 169, 226, 0.2) 0%,
      rgba(40, 169, 226, 0.2) 100%
    ),
    radial-gradient(
      231% 135.8% at 0.9% 2.98%,
      rgba(29, 75, 96, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(21px);
}
#grid3 {
  z-index: 1;
  margin-right: 60px; /* Add desired gap between grid2 and grid3 */
  height: 100%;
  border-radius: 18px;
  background: linear-gradient(
      0deg,
      rgba(40, 169, 226, 0.2) 0%,
      rgba(40, 169, 226, 0.2) 100%
    ),
    radial-gradient(
      231% 135.8% at 0.9% 2.98%,
      rgba(29, 75, 96, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(21px);
}

@media (max-width: 768px) {
  #grid {
    grid-template-columns: 1fr;
  }

  #grid1 {
    grid-column: 1 / -1;
    width: 100vw; /* Take up full width in mobile mode*/
  }

  #grid2,
  #grid3 {
    position: absolute;
    left: 1rem;
    margin-top: 4rem; /* Add desired gap between grid1 and grid2/grid3 */
    width: 100%;
  }

  #grid2 {
    z-index: 2;
    top: 92%;
    margin-left: 1rem;
    width: 85%;
    margin-top: 8rem;
  }

  #grid3 {
    z-index: 1;
    top: 90%;
    height: 60%;
    margin-right: 1rem;
    width: 80%; /* Add desired gap between grid2 and grid3 */
  }
}
/* .arrow {
  position: relative;
} */
/* .arrow {
  width: 40vw;
  height: 50vh;
  border-image:  linear-gradient(180deg, rgba(40,169,226,0.20772058823529416) 0%, rgba(43,134,174,1) 100%) 1;
  position: absolute;
  z-index: -1;
  border-width: 16px;
  border-style: solid;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 50%;
} */
.cards {
  display: flex;
  height: 35vh;
  perspective: 1000px;
  cursor: grab;
  overflow: hidden;
  animation: scroll 10s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-35%);
  }
}
