#header{
  padding: 5rem 15vw;
}

.intro-title{
  font-size: 4rem;
  font-weight: 200;
}
#project-items{
  padding: 10rem 15vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 7rem;
    flex-wrap: wrap;
}

@media (max-width: 640px){
  .intro-title{
    font-size: 3rem;
  }
  #project-items{
    padding: 9rem 8vw;
  }
  .card{
    width:80vw;
    height:80vw;
  }
}
/* .repo-cards {
  display: flex;
  flex-wrap: wrap;
}

.repo-card {
  width: 30%;
  margin: 20px;
}

.filter-icon {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  color: #19e3e3;
}

.dropdown-menu {
  position:absolute;
  top:40px;
  right:10px;
  background-color: #161616;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  z-index: 99999;
}

.dropdown-item {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #17acac;
  color: black;
}

.dropdown-item.selected {
  background-color: #19e3e3;
  color: black;
}
.repo-name {
  color: #ffffff;
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 0;
  line-height: 26.3px;
  margin-left: 1rem;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .repo-card {
    width: 100%;
  }
  .repo-cards {
    margin-left: 2px;
  }
  .repo-name{
    font-size: 15px;
  }
  .HeaderDot{
    left:0px;
  }
  .dropdown-menu {
    width: 40%;
    right: 0;
  }
}
 */
