@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700&family=Inter:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@100;200;300;400;500;600;700&display=swap");


body {
  margin: 0;
  color: #fff;
  background: #111;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--i); */
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}
.overlay {
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  z-index:-1;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); 
}
.bg {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  /* pointer-events: all; */
  /* display: block; */
  width: 100%;
  height: 100%;
}

.colorBox {
  z-index: 54;
  filter: brightness(1.1);
  transition: 2s ease;
  position: relative;
  margin: 2px;
  background: #161616;
  /* filter: blur(30px); */
}

/* .colorBox:hover{
  background: #00bfff;
  transition-duration: 0s;
} */

.backgroundAmim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  opacity: 0.5;
  filter: blur(60px);
  background: #00bfff;
  animation: animBack 6s linear infinite;
}

@keyframes animBack {
  0% {
    top: -60px;
  }
  100% {
    top: 120%;
  }
}
